<launch>
  <node pkg="cv_camera" name="cv_camera" type="cv_camera_node" />

  <node pkg="mjpeg_server" name="mjpeg_server" type="mjpeg_server" >
    <param name="port" value="10002" />
  </node>

  <node pkg="ros_face_count" name="count_face" type="count.py" output="screen"/>
  <node pkg="ros_face_count" name="count_twice" type="twice.py" output="screen"/>
</launch>
